//----------------------------------------------------------------------------
//Material - Colors

//purple
$material-purple-400: #ab47bc;
//deep-purple
$material-deep-purple-300: #9575cd;
$material-deep-purple-400:#7e57c2;

//red
$material-red-300: #e57373;
$material-red-400: #ef5350;

//indigo
$material-indigo-300: #7986cb;
$material-indigo-400: #5c6bc0;

//light-blue
$material-light-blue-400: #29b6f6;

//-greylight-blue
$material-light-blue-grey-400: #78909c;
//----------------------------------------------------------------------------