@import "minimal-mistakes/skins/air.scss";

//----------------------------------------------------------------------------
//List of lesson - Right Sidebar

//Main container
//Features
.corso.page .corso.sidebar {
  opacity: unset;
  margin: 0 1rem 1rem 1rem;
  padding: 0 6px 0 6px;
  width: 25%;
}

//Main container
//Mobile
.corso.page .corso.sidebar {
  display: none;
}

//Main container
//Desktop
@media (min-width: 64em){
    .corso.page .corso.sidebar {
        height: max-content;
        position: inherit;
        display: flex;
        flex-flow: column;
    }
}
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//Header container
//Features
.corso.page .corso.sidebar header {
  margin: 0;
  padding: 1rem;
  background: $dark-gray-air-theme;
  height: 10rem;
  border-radius: 1px;
  box-shadow: 0 2px 5px 0 $dark-black-high-trasparency-016-air-theme, 0 2px 10px 0 $dark-black-high-trasparency-012-air-theme;
}
//----------------------------------------------------------------------------


//----------------------------------------------------------------------------
//Header Title
//Features
.corso.page .corso.sidebar header h1.course__title.corso {
    margin-top: 0px;
    color: $main-white-air-theme;
}
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//Container list of lesson
//Features
.corso.page .corso.sidebar ul.lesson__items {
    max-height: 60vh;
    overflow-y: overlay;
    list-style: none;
    padding: 0px; 
    margin: 0px; 
}
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//Scrollbar Container list of lesson
//width 
.corso.page .corso.sidebar ul.lesson__items::-webkit-scrollbar {
    width: 0.5rem;
}
   
//Handle 
.corso.page .corso.sidebar ul.lesson__items::-webkit-scrollbar-thumb {
  background: $border-color;
}
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//Lesson element
//Features
.corso.page .corso.sidebar ul.lesson__items li {
    text-decoration: none;
    color: $dark-gray-air-theme;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid $border-color;
    margin: 0px;
    padding: 0.5rem;
    margin-left: 1.5rem;
    border-radius: 1px;
}
.corso.page .corso.sidebar ul.lesson__items li:hover {
  box-shadow: 0 2px 5px 0 $dark-black-high-trasparency-016-air-theme, 0 2px 10px 0 $dark-black-high-trasparency-012-air-theme;
}

//Lesson element link.active
//Features
.corso.page .corso.sidebar ul.lesson__items li.active{
  opacity: none;
  background: $light-blue-air-theme;
  color: $main-white-air-theme;
}
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//Lesson element link
//Features
.corso.page .corso.sidebar ul.lesson__items li a{
    text-decoration: none;
}


.corso.page .corso.sidebar ul.lesson__items li.active a{
  color: $main-white-air-theme;
}
//----------------------------------------------------------------------------

