//----------------------------------------------------------------------------
//Table of content
@media (min-width: 64em){
    aside.corso.sidebar__right {
        position: unset; 
        width: unset;
        margin-right: unset; 
        padding-left: unset;
    
    }
}

@media (min-width: 80em){
    aside.corso.sidebar__right {
         position: unset; 
         width: unset;
         margin-right: unset; 
         padding-left: unset;
       
    }
}
//----------------------------------------------------------------------------