{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="corso sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
  <header>
    <h1 class="corso course__title">
      {{ page.name }}
    </h1>
  </header>
  <ul class="corso lesson__items" id="move__scrollbar">
  {% for lesson in site[page.name_collection] %}
      <li {% if lesson.url == page.url %} class="active" id ="lesson__active" {% endif %}><a href="{{ lesson.url }}">{{ lesson.title }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
</div>
{% endif %}

<script>
  var lesson__active = document.getElementById("lesson__active");
  lesson__active.scrollIntoViewIfNeeded(true);
</script>