---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//Custom CSS
@import "custom/custom_colors.scss";
@import "custom/custom_font-size.scss";
@import "custom/custom_card.scss";
@import "custom/custom_lessons_sidebar.scss";
@import "custom/custom_table_of_content.scss";
@import "minimal-mistakes/skins/air.scss";

//----------------------------------------------------------------------------



 @media (min-width: 64em){
    article.corso.page{
        width: 100%;
        padding-right: 0; 
    }
}

article.corso.page {
    display: flex;
    box-sizing: border-box;
}

article.corso.page .page__inner-wrap.corso {
    width: 100%;
}
@media (min-width: 64em){
    article.corso.page .page__inner-wrap.corso {
        width: 75%;
    }
}

@media (min-width: 80em){
article.corso.page .page__inner-wrap.corso {
    width: 75%;
    }
}

.feature__wrapper {
    clear: both;
    margin-bottom: 2em;
    border-bottom: unset;
}

.groups_feature_row_container {
    border: 1px solid #cecfd1;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
}

header.groups_feature_row_header {

}

.feature__item {
    margin-top: 1rem;
    margin-bottom: 0;
}

.groups_feature_row_content {
    padding: 1rem;
    overflow: auto;
    max-height: 60vh;
    border-top: 1px solid #cecfd1;
    /* border-radius: 4px; */
}

//Scrollbar Container list of lesson
//width 
.groups_feature_row_content::-webkit-scrollbar {
    width: 0.5rem;
}
   
//Handle 
.groups_feature_row_content::-webkit-scrollbar-thumb {
  background: $border-color;
}