---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//Custom CSS
@import "custom/custom_colors.scss";
@import "custom/custom_font-size.scss";
@import "custom/custom_card.scss";
@import "custom/custom_lessons_sidebar.scss";
@import "custom/custom_table_of_content.scss";

//----------------------------------------------------------------------------



 @media (min-width: 64em){
    article.corso.page{
        width: 100%;
        padding-right: 0; 
    }
}

article.corso.page {
    display: flex;
    box-sizing: border-box;
}

article.corso.page .page__inner-wrap.corso {
    width: 100%;
}
@media (min-width: 64em){
    article.corso.page .page__inner-wrap.corso {
        width: 75%;
    }
}

@media (min-width: 80em){
article.corso.page .page__inner-wrap.corso {
    width: 75%;
    }
}