/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */

$main-black-air-theme:#222831;
$dark-gray-air-theme: #393e46;
$main-white-air-theme:white;
$light-blue-air-theme: #0092ca;
$dark-black-high-trasparency-016-air-theme: rgba(0, 0, 0, 0.16);
$dark-black-high-trasparency-012-air-theme: rgba(0, 0, 0, 0.12);

$background-color: $main-white-air-theme !default; //eeeeee
$text-color: $main-black-air-theme !default;
$muted-text-color: $dark-gray-air-theme !default;
$primary-color: $light-blue-air-theme !default; //0092ca
$border-color: mix($main-white-air-theme, $dark-gray-air-theme, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: $dark-gray-air-theme !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix($main-white-air-theme, $text-color, 80%) !default;

.page__footer {
  color: $main-white-air-theme !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
